.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    position: relative;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.grid-custom {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}